<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Article Search</title>
</head>
<body>

<div class="container">
    <div>
      <a href="/sessions/new">Login</a>
      <a href="/users/new">Register</a>
      <a href="/favorites">Favorites</a>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <form class="myForm" method="GET" action="/article/index">
          <input type="text" name="search" placeholder="Search">
          <button>Submit</button>
        </form>
      </div>
</body>
</html>