<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Index</title>
</head>
<body>
  <form method= "GET" action="/article">
    <input type="text" name="article" placeholder= "Article">
    <button>Search</button>
  </form>
</body>
</html>