<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
</head>
<body>
    <div>
      <a href="/articles/index">Article Search</a>
    </div>

  <form method="POST" action="/users/new">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <button>Register</button>
  </form>
</body>
</html>